<%- include('../partials/header') %>

<h3>Edit Flight</h3>

<form method="POST" action="/flights/<%= flight._id %>?_method=PUT">
  <label for="airline">Airline:</label>
  <input type="text" id="airline" name="airline" value="<%= flight.airline %>">

  <label for="airport">Airport:</label>
  <input type="text" id="airport" name="airport" value="<%= flight.airport %>">

  <label for="airline">Flight Number:</label>
  <input type="text" id="flightNo" name="flightNo" value="<%= flight.flightNo %>">

  <button type="submit">Update Flight</button>
</form>

<%- include('../partials/footer') %>