<%- include('../partials/header') %>

<h1>All Flights</h1>

<table>
  <tr>
    <th>Airline</th>
    <th>Airport</th>
    <th>Flight Number</th>
    <th>Departs</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% flights.forEach(function(flight) { %>
    <tr>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><a href="/flights/<%= flight._id %>"><%= flight.flightNo %></a></td>
      <td><%= flight.departs %></td>
      <td><a href="/flights/<%= flight._id %>/edit">Edit</a></td>
      <td>
        <form method="POST" action="/flights/<%= flight._id %>?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete this flight?');">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
  <% }); %>
</table>

<%- include('../partials/footer') %>
